* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

h1 {
    color: #222;
    padding-top: 30px;
    padding-left: 30px;
}


.header {
    height: 100px;
    width: 100%;
    background-color: #ccd;
    vertical-align: middle;
}

.btn1 {
    width: 140px;
    height: 40px;
    border: none;
    background-color: #dde;
    font-size: 18px;
    color: #223;
    display: block;
    margin-top: 10px;
    margin-left: 30px;
    transition-duration: 0.1s;
}

.btn1:hover {
    outline: 1px solid black;
    background-color: #223;
    color: #dde;
    cursor: pointer;
}
.btn1:active {
    color: green;
}

