* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.modal_window {
/*    display: none; */
    position: fixed;
    top: 25%;
    left: 25%;
    z-index: 1;
    width: 500px;
    height: 250px;
    background-color: #bbb;
}
.modal_header {
    height: 50px;
    border-bottom: 1px solid black;
}
.modal_header_caption {
    height: 35px;
    width: 440px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: center;
}
.modal_btn_close {
    height: 35px;
    width: 60px;
    color: black;
    font-size: 30px;
    text-align: center;
    background-color: green;
    position: absolute;
    top: 0;
    left: 440px;
}
.modal_text {
    font-size: 16px;
    width: 500px;
    height: 215px;
    background-color: blue;
    position: absolute;
    top: 35px;
    left: 0;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #ccccdd;
}

.header h2 {
    padding: 30px;
}

.btn {
    width: 150px;
    height: 40px;
}